<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <!-- note we don't need to say ../public/styles/styles.css in our href because, express.static() sets the root for these static files to /public -->
    <link rel="stylesheet" href="/styles/styles.css" type="text/css"/>
</head>
<body>
    <h1>Welcome to my Web Server</h1>
</body>
</html>